/.idea/
/node_modules/.bin/tsc
/node_modules/.bin/tsserver
/node_modules/@types/bun/index.d.ts
/node_modules/@types/bun/LICENSE
/node_modules/@types/bun/package.json
/node_modules/@types/bun/README.md
/node_modules/@types/node/assert/strict.d.ts
/node_modules/@types/node/dns/promises.d.ts
/node_modules/@types/node/fs/promises.d.ts
/node_modules/@types/node/readline/promises.d.ts
/node_modules/@types/node/stream/consumers.d.ts
/node_modules/@types/node/stream/promises.d.ts
/node_modules/@types/node/stream/web.d.ts
/node_modules/@types/node/timers/promises.d.ts
/node_modules/@types/node/assert.d.ts
/node_modules/@types/node/async_hooks.d.ts
/node_modules/@types/node/buffer.d.ts
/node_modules/@types/node/child_process.d.ts
/node_modules/@types/node/cluster.d.ts
/node_modules/@types/node/console.d.ts
/node_modules/@types/node/constants.d.ts
/node_modules/@types/node/crypto.d.ts
/node_modules/@types/node/dgram.d.ts
/node_modules/@types/node/diagnostics_channel.d.ts
/node_modules/@types/node/dns.d.ts
/node_modules/@types/node/dom-events.d.ts
/node_modules/@types/node/domain.d.ts
/node_modules/@types/node/events.d.ts
/node_modules/@types/node/fs.d.ts
/node_modules/@types/node/globals.d.ts
/node_modules/@types/node/globals.global.d.ts
/node_modules/@types/node/http.d.ts
/node_modules/@types/node/http2.d.ts
/node_modules/@types/node/https.d.ts
/node_modules/@types/node/index.d.ts
/node_modules/@types/node/inspector.d.ts
/node_modules/@types/node/LICENSE
/node_modules/@types/node/module.d.ts
/node_modules/@types/node/net.d.ts
/node_modules/@types/node/os.d.ts
/node_modules/@types/node/package.json
/node_modules/@types/node/path.d.ts
/node_modules/@types/node/perf_hooks.d.ts
/node_modules/@types/node/process.d.ts
/node_modules/@types/node/punycode.d.ts
/node_modules/@types/node/querystring.d.ts
/node_modules/@types/node/readline.d.ts
/node_modules/@types/node/README.md
/node_modules/@types/node/repl.d.ts
/node_modules/@types/node/sea.d.ts
/node_modules/@types/node/stream.d.ts
/node_modules/@types/node/string_decoder.d.ts
/node_modules/@types/node/test.d.ts
/node_modules/@types/node/timers.d.ts
/node_modules/@types/node/tls.d.ts
/node_modules/@types/node/trace_events.d.ts
/node_modules/@types/node/tty.d.ts
/node_modules/@types/node/url.d.ts
/node_modules/@types/node/util.d.ts
/node_modules/@types/node/v8.d.ts
/node_modules/@types/node/vm.d.ts
/node_modules/@types/node/wasi.d.ts
/node_modules/@types/node/worker_threads.d.ts
/node_modules/@types/node/zlib.d.ts
/node_modules/@types/ws/index.d.mts
/node_modules/@types/ws/index.d.ts
/node_modules/@types/ws/LICENSE
/node_modules/@types/ws/package.json
/node_modules/@types/ws/README.md
/node_modules/bun-types/docs/api/binary-data.md
/node_modules/bun-types/docs/api/cc.md
/node_modules/bun-types/docs/api/color.md
/node_modules/bun-types/docs/api/console.md
/node_modules/bun-types/docs/api/dns.md
/node_modules/bun-types/docs/api/fetch.md
/node_modules/bun-types/docs/api/ffi.md
/node_modules/bun-types/docs/api/file.md
/node_modules/bun-types/docs/api/file-io.md
/node_modules/bun-types/docs/api/file-system-router.md
/node_modules/bun-types/docs/api/glob.md
/node_modules/bun-types/docs/api/globals.md
/node_modules/bun-types/docs/api/hashing.md
/node_modules/bun-types/docs/api/html-rewriter.md
/node_modules/bun-types/docs/api/http.md
/node_modules/bun-types/docs/api/import-meta.md
/node_modules/bun-types/docs/api/node-api.md
/node_modules/bun-types/docs/api/semver.md
/node_modules/bun-types/docs/api/spawn.md
/node_modules/bun-types/docs/api/sqlite.md
/node_modules/bun-types/docs/api/streams.md
/node_modules/bun-types/docs/api/tcp.md
/node_modules/bun-types/docs/api/test.md
/node_modules/bun-types/docs/api/transpiler.md
/node_modules/bun-types/docs/api/udp.md
/node_modules/bun-types/docs/api/utils.md
/node_modules/bun-types/docs/api/websockets.md
/node_modules/bun-types/docs/api/workers.md
/node_modules/bun-types/docs/bundler/executables.md
/node_modules/bun-types/docs/bundler/index.md
/node_modules/bun-types/docs/bundler/intro.md
/node_modules/bun-types/docs/bundler/loaders.md
/node_modules/bun-types/docs/bundler/macros.md
/node_modules/bun-types/docs/bundler/plugins.md
/node_modules/bun-types/docs/bundler/vs-esbuild.md
/node_modules/bun-types/docs/cli/add.md
/node_modules/bun-types/docs/cli/bun-completions.md
/node_modules/bun-types/docs/cli/bun-create.md
/node_modules/bun-types/docs/cli/bun-dev.md
/node_modules/bun-types/docs/cli/bun-install.md
/node_modules/bun-types/docs/cli/bun-upgrade.md
/node_modules/bun-types/docs/cli/bunx.md
/node_modules/bun-types/docs/cli/filter.md
/node_modules/bun-types/docs/cli/init.md
/node_modules/bun-types/docs/cli/install.md
/node_modules/bun-types/docs/cli/link.md
/node_modules/bun-types/docs/cli/outdated.md
/node_modules/bun-types/docs/cli/patch-commit.md
/node_modules/bun-types/docs/cli/pm.md
/node_modules/bun-types/docs/cli/publish.md
/node_modules/bun-types/docs/cli/remove.md
/node_modules/bun-types/docs/cli/run.md
/node_modules/bun-types/docs/cli/test.md
/node_modules/bun-types/docs/cli/unlink.md
/node_modules/bun-types/docs/cli/update.md
/node_modules/bun-types/docs/contributing/upgrading-webkit.md
/node_modules/bun-types/docs/ecosystem/elysia.md
/node_modules/bun-types/docs/ecosystem/express.md
/node_modules/bun-types/docs/ecosystem/hono.md
/node_modules/bun-types/docs/ecosystem/react.md
/node_modules/bun-types/docs/ecosystem/stric.md
/node_modules/bun-types/docs/guides/binary/arraybuffer-to-array.md
/node_modules/bun-types/docs/guides/binary/arraybuffer-to-blob.md
/node_modules/bun-types/docs/guides/binary/arraybuffer-to-buffer.md
/node_modules/bun-types/docs/guides/binary/arraybuffer-to-string.md
/node_modules/bun-types/docs/guides/binary/arraybuffer-to-typedarray.md
/node_modules/bun-types/docs/guides/binary/blob-to-arraybuffer.md
/node_modules/bun-types/docs/guides/binary/blob-to-dataview.md
/node_modules/bun-types/docs/guides/binary/blob-to-stream.md
/node_modules/bun-types/docs/guides/binary/blob-to-string.md
/node_modules/bun-types/docs/guides/binary/blob-to-typedarray.md
/node_modules/bun-types/docs/guides/binary/buffer-to-arraybuffer.md
/node_modules/bun-types/docs/guides/binary/buffer-to-blob.md
/node_modules/bun-types/docs/guides/binary/buffer-to-readablestream.md
/node_modules/bun-types/docs/guides/binary/buffer-to-string.md
/node_modules/bun-types/docs/guides/binary/buffer-to-typedarray.md
/node_modules/bun-types/docs/guides/binary/dataview-to-string.md
/node_modules/bun-types/docs/guides/binary/typedarray-to-arraybuffer.md
/node_modules/bun-types/docs/guides/binary/typedarray-to-blob.md
/node_modules/bun-types/docs/guides/binary/typedarray-to-buffer.md
/node_modules/bun-types/docs/guides/binary/typedarray-to-dataview.md
/node_modules/bun-types/docs/guides/binary/typedarray-to-readablestream.md
/node_modules/bun-types/docs/guides/binary/typedarray-to-string.md
/node_modules/bun-types/docs/guides/ecosystem/astro.md
/node_modules/bun-types/docs/guides/ecosystem/discordjs.md
/node_modules/bun-types/docs/guides/ecosystem/docker.md
/node_modules/bun-types/docs/guides/ecosystem/drizzle.md
/node_modules/bun-types/docs/guides/ecosystem/edgedb.md
/node_modules/bun-types/docs/guides/ecosystem/elysia.md
/node_modules/bun-types/docs/guides/ecosystem/express.md
/node_modules/bun-types/docs/guides/ecosystem/hono.md
/node_modules/bun-types/docs/guides/ecosystem/mongoose.md
/node_modules/bun-types/docs/guides/ecosystem/neon-drizzle.md
/node_modules/bun-types/docs/guides/ecosystem/neon-serverless-postgres.md
/node_modules/bun-types/docs/guides/ecosystem/nextjs.md
/node_modules/bun-types/docs/guides/ecosystem/nuxt.md
/node_modules/bun-types/docs/guides/ecosystem/pm2.md
/node_modules/bun-types/docs/guides/ecosystem/prisma.md
/node_modules/bun-types/docs/guides/ecosystem/qwik.md
/node_modules/bun-types/docs/guides/ecosystem/react.md
/node_modules/bun-types/docs/guides/ecosystem/remix.md
/node_modules/bun-types/docs/guides/ecosystem/render.md
/node_modules/bun-types/docs/guides/ecosystem/sentry.md
/node_modules/bun-types/docs/guides/ecosystem/solidstart.md
/node_modules/bun-types/docs/guides/ecosystem/ssr-react.md
/node_modules/bun-types/docs/guides/ecosystem/stric.md
/node_modules/bun-types/docs/guides/ecosystem/sveltekit.md
/node_modules/bun-types/docs/guides/ecosystem/systemd.md
/node_modules/bun-types/docs/guides/ecosystem/vite.md
/node_modules/bun-types/docs/guides/http/cluster.md
/node_modules/bun-types/docs/guides/http/fetch.md
/node_modules/bun-types/docs/guides/http/fetch-unix.md
/node_modules/bun-types/docs/guides/http/file-uploads.md
/node_modules/bun-types/docs/guides/http/hot.md
/node_modules/bun-types/docs/guides/http/proxy.md
/node_modules/bun-types/docs/guides/http/server.md
/node_modules/bun-types/docs/guides/http/simple.md
/node_modules/bun-types/docs/guides/http/stream-file.md
/node_modules/bun-types/docs/guides/http/stream-iterator.md
/node_modules/bun-types/docs/guides/http/stream-node-streams-in-bun.md
/node_modules/bun-types/docs/guides/http/tls.md
/node_modules/bun-types/docs/guides/install/add.md
/node_modules/bun-types/docs/guides/install/add-dev.md
/node_modules/bun-types/docs/guides/install/add-git.md
/node_modules/bun-types/docs/guides/install/add-optional.md
/node_modules/bun-types/docs/guides/install/add-peer.md
/node_modules/bun-types/docs/guides/install/add-tarball.md
/node_modules/bun-types/docs/guides/install/azure-artifacts.md
/node_modules/bun-types/docs/guides/install/cicd.md
/node_modules/bun-types/docs/guides/install/custom-registry.md
/node_modules/bun-types/docs/guides/install/from-npm-install-to-bun-install.md
/node_modules/bun-types/docs/guides/install/git-diff-bun-lockfile.md
/node_modules/bun-types/docs/guides/install/jfrog-artifactory.md
/node_modules/bun-types/docs/guides/install/npm-alias.md
/node_modules/bun-types/docs/guides/install/registry-scope.md
/node_modules/bun-types/docs/guides/install/trusted.md
/node_modules/bun-types/docs/guides/install/workspaces.md
/node_modules/bun-types/docs/guides/install/yarnlock.md
/node_modules/bun-types/docs/guides/process/argv.md
/node_modules/bun-types/docs/guides/process/ctrl-c.md
/node_modules/bun-types/docs/guides/process/ipc.md
/node_modules/bun-types/docs/guides/process/nanoseconds.md
/node_modules/bun-types/docs/guides/process/os-signals.md
/node_modules/bun-types/docs/guides/process/spawn.md
/node_modules/bun-types/docs/guides/process/spawn-stderr.md
/node_modules/bun-types/docs/guides/process/spawn-stdout.md
/node_modules/bun-types/docs/guides/process/stdin.md
/node_modules/bun-types/docs/guides/read-file/arraybuffer.md
/node_modules/bun-types/docs/guides/read-file/buffer.md
/node_modules/bun-types/docs/guides/read-file/exists.md
/node_modules/bun-types/docs/guides/read-file/json.md
/node_modules/bun-types/docs/guides/read-file/mime.md
/node_modules/bun-types/docs/guides/read-file/stream.md
/node_modules/bun-types/docs/guides/read-file/string.md
/node_modules/bun-types/docs/guides/read-file/uint8array.md
/node_modules/bun-types/docs/guides/read-file/watch.md
/node_modules/bun-types/docs/guides/runtime/cicd.md
/node_modules/bun-types/docs/guides/runtime/define-constant.md
/node_modules/bun-types/docs/guides/runtime/import-html.md
/node_modules/bun-types/docs/guides/runtime/import-json.md
/node_modules/bun-types/docs/guides/runtime/import-toml.md
/node_modules/bun-types/docs/guides/runtime/read-env.md
/node_modules/bun-types/docs/guides/runtime/set-env.md
/node_modules/bun-types/docs/guides/runtime/shell.md
/node_modules/bun-types/docs/guides/runtime/timezone.md
/node_modules/bun-types/docs/guides/runtime/tsconfig-paths.md
/node_modules/bun-types/docs/guides/runtime/typescript.md
/node_modules/bun-types/docs/guides/runtime/vscode-debugger.md
/node_modules/bun-types/docs/guides/runtime/web-debugger.md
/node_modules/bun-types/docs/guides/streams/node-readable-to-arraybuffer.md
/node_modules/bun-types/docs/guides/streams/node-readable-to-blob.md
/node_modules/bun-types/docs/guides/streams/node-readable-to-json.md
/node_modules/bun-types/docs/guides/streams/node-readable-to-string.md
/node_modules/bun-types/docs/guides/streams/node-readable-to-uint8array.md
/node_modules/bun-types/docs/guides/streams/to-array.md
/node_modules/bun-types/docs/guides/streams/to-arraybuffer.md
/node_modules/bun-types/docs/guides/streams/to-blob.md
/node_modules/bun-types/docs/guides/streams/to-buffer.md
/node_modules/bun-types/docs/guides/streams/to-json.md
/node_modules/bun-types/docs/guides/streams/to-string.md
/node_modules/bun-types/docs/guides/streams/to-typedarray.md
/node_modules/bun-types/docs/guides/test/bail.md
/node_modules/bun-types/docs/guides/test/coverage.md
/node_modules/bun-types/docs/guides/test/coverage-threshold.md
/node_modules/bun-types/docs/guides/test/happy-dom.md
/node_modules/bun-types/docs/guides/test/migrate-from-jest.md
/node_modules/bun-types/docs/guides/test/mock-clock.md
/node_modules/bun-types/docs/guides/test/mock-functions.md
/node_modules/bun-types/docs/guides/test/rerun-each.md
/node_modules/bun-types/docs/guides/test/run-tests.md
/node_modules/bun-types/docs/guides/test/skip-tests.md
/node_modules/bun-types/docs/guides/test/snapshot.md
/node_modules/bun-types/docs/guides/test/spy-on.md
/node_modules/bun-types/docs/guides/test/testing-library.md
/node_modules/bun-types/docs/guides/test/timeout.md
/node_modules/bun-types/docs/guides/test/todo-tests.md
/node_modules/bun-types/docs/guides/test/update-snapshots.md
/node_modules/bun-types/docs/guides/test/watch-mode.md
/node_modules/bun-types/docs/guides/util/base64.md
/node_modules/bun-types/docs/guides/util/deep-equals.md
/node_modules/bun-types/docs/guides/util/deflate.md
/node_modules/bun-types/docs/guides/util/detect-bun.md
/node_modules/bun-types/docs/guides/util/entrypoint.md
/node_modules/bun-types/docs/guides/util/escape-html.md
/node_modules/bun-types/docs/guides/util/file-url-to-path.md
/node_modules/bun-types/docs/guides/util/gzip.md
/node_modules/bun-types/docs/guides/util/hash-a-password.md
/node_modules/bun-types/docs/guides/util/import-meta-dir.md
/node_modules/bun-types/docs/guides/util/import-meta-file.md
/node_modules/bun-types/docs/guides/util/import-meta-path.md
/node_modules/bun-types/docs/guides/util/main.md
/node_modules/bun-types/docs/guides/util/path-to-file-url.md
/node_modules/bun-types/docs/guides/util/sleep.md
/node_modules/bun-types/docs/guides/util/version.md
/node_modules/bun-types/docs/guides/util/which-path-to-executable-bin.md
/node_modules/bun-types/docs/guides/websocket/compression.md
/node_modules/bun-types/docs/guides/websocket/context.md
/node_modules/bun-types/docs/guides/websocket/pubsub.md
/node_modules/bun-types/docs/guides/websocket/simple.md
/node_modules/bun-types/docs/guides/write-file/append.md
/node_modules/bun-types/docs/guides/write-file/basic.md
/node_modules/bun-types/docs/guides/write-file/blob.md
/node_modules/bun-types/docs/guides/write-file/cat.md
/node_modules/bun-types/docs/guides/write-file/file-cp.md
/node_modules/bun-types/docs/guides/write-file/filesink.md
/node_modules/bun-types/docs/guides/write-file/response.md
/node_modules/bun-types/docs/guides/write-file/stdout.md
/node_modules/bun-types/docs/guides/write-file/stream.md
/node_modules/bun-types/docs/guides/write-file/unlink.md
/node_modules/bun-types/docs/install/cache.md
/node_modules/bun-types/docs/install/index.md
/node_modules/bun-types/docs/install/lifecycle.md
/node_modules/bun-types/docs/install/lockfile.md
/node_modules/bun-types/docs/install/npmrc.md
/node_modules/bun-types/docs/install/overrides.md
/node_modules/bun-types/docs/install/patch.md
/node_modules/bun-types/docs/install/registries.md
/node_modules/bun-types/docs/install/workspaces.md
/node_modules/bun-types/docs/project/internals/build-process-for-ci.md
/node_modules/bun-types/docs/project/benchmarking.md
/node_modules/bun-types/docs/project/building-windows.md
/node_modules/bun-types/docs/project/roadmap.md
/node_modules/bun-types/docs/runtime/autoimport.md
/node_modules/bun-types/docs/runtime/bun-apis.md
/node_modules/bun-types/docs/runtime/bunfig.md
/node_modules/bun-types/docs/runtime/debugger.md
/node_modules/bun-types/docs/runtime/env.md
/node_modules/bun-types/docs/runtime/hot.md
/node_modules/bun-types/docs/runtime/index.md
/node_modules/bun-types/docs/runtime/jsx.md
/node_modules/bun-types/docs/runtime/loaders.md
/node_modules/bun-types/docs/runtime/modules.md
/node_modules/bun-types/docs/runtime/nodejs-apis.md
/node_modules/bun-types/docs/runtime/plugins.md
/node_modules/bun-types/docs/runtime/shell.md
/node_modules/bun-types/docs/runtime/typescript.md
/node_modules/bun-types/docs/runtime/web-apis.md
/node_modules/bun-types/docs/test/coverage.md
/node_modules/bun-types/docs/test/dom.md
/node_modules/bun-types/docs/test/hot.md
/node_modules/bun-types/docs/test/lifecycle.md
/node_modules/bun-types/docs/test/mocks.md
/node_modules/bun-types/docs/test/snapshots.md
/node_modules/bun-types/docs/test/time.md
/node_modules/bun-types/docs/test/writing.md
/node_modules/bun-types/docs/benchmarks.md
/node_modules/bun-types/docs/bun-flavored-toml.md
/node_modules/bun-types/docs/index.md
/node_modules/bun-types/docs/installation.md
/node_modules/bun-types/docs/quickstart.md
/node_modules/bun-types/docs/typescript.md
/node_modules/bun-types/bun.d.ts
/node_modules/bun-types/deprecated.d.ts
/node_modules/bun-types/fetch.d.ts
/node_modules/bun-types/ffi.d.ts
/node_modules/bun-types/globals.d.ts
/node_modules/bun-types/html-rewriter.d.ts
/node_modules/bun-types/index.d.ts
/node_modules/bun-types/jsc.d.ts
/node_modules/bun-types/overrides.d.ts
/node_modules/bun-types/package.json
/node_modules/bun-types/README.md
/node_modules/bun-types/sqlite.d.ts
/node_modules/bun-types/test.d.ts
/node_modules/bun-types/wasm.d.ts
/node_modules/typescript/bin/tsc
/node_modules/typescript/bin/tsserver
/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
/node_modules/typescript/lib/de/diagnosticMessages.generated.json
/node_modules/typescript/lib/es/diagnosticMessages.generated.json
/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
/node_modules/typescript/lib/it/diagnosticMessages.generated.json
/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
/node_modules/typescript/lib/_tsc.js
/node_modules/typescript/lib/_tsserver.js
/node_modules/typescript/lib/_typingsInstaller.js
/node_modules/typescript/lib/cancellationToken.js
/node_modules/typescript/lib/lib.d.ts
/node_modules/typescript/lib/lib.decorators.d.ts
/node_modules/typescript/lib/lib.decorators.legacy.d.ts
/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
/node_modules/typescript/lib/lib.dom.d.ts
/node_modules/typescript/lib/lib.dom.iterable.d.ts
/node_modules/typescript/lib/lib.es5.d.ts
/node_modules/typescript/lib/lib.es6.d.ts
/node_modules/typescript/lib/lib.es2015.collection.d.ts
/node_modules/typescript/lib/lib.es2015.core.d.ts
/node_modules/typescript/lib/lib.es2015.d.ts
/node_modules/typescript/lib/lib.es2015.generator.d.ts
/node_modules/typescript/lib/lib.es2015.iterable.d.ts
/node_modules/typescript/lib/lib.es2015.promise.d.ts
/node_modules/typescript/lib/lib.es2015.proxy.d.ts
/node_modules/typescript/lib/lib.es2015.reflect.d.ts
/node_modules/typescript/lib/lib.es2015.symbol.d.ts
/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
/node_modules/typescript/lib/lib.es2016.array.include.d.ts
/node_modules/typescript/lib/lib.es2016.d.ts
/node_modules/typescript/lib/lib.es2016.full.d.ts
/node_modules/typescript/lib/lib.es2016.intl.d.ts
/node_modules/typescript/lib/lib.es2017.arraybuffer.d.ts
/node_modules/typescript/lib/lib.es2017.d.ts
/node_modules/typescript/lib/lib.es2017.date.d.ts
/node_modules/typescript/lib/lib.es2017.full.d.ts
/node_modules/typescript/lib/lib.es2017.intl.d.ts
/node_modules/typescript/lib/lib.es2017.object.d.ts
/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
/node_modules/typescript/lib/lib.es2017.string.d.ts
/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
/node_modules/typescript/lib/lib.es2018.d.ts
/node_modules/typescript/lib/lib.es2018.full.d.ts
/node_modules/typescript/lib/lib.es2018.intl.d.ts
/node_modules/typescript/lib/lib.es2018.promise.d.ts
/node_modules/typescript/lib/lib.es2018.regexp.d.ts
/node_modules/typescript/lib/lib.es2019.array.d.ts
/node_modules/typescript/lib/lib.es2019.d.ts
/node_modules/typescript/lib/lib.es2019.full.d.ts
/node_modules/typescript/lib/lib.es2019.intl.d.ts
/node_modules/typescript/lib/lib.es2019.object.d.ts
/node_modules/typescript/lib/lib.es2019.string.d.ts
/node_modules/typescript/lib/lib.es2019.symbol.d.ts
/node_modules/typescript/lib/lib.es2020.bigint.d.ts
/node_modules/typescript/lib/lib.es2020.d.ts
/node_modules/typescript/lib/lib.es2020.date.d.ts
/node_modules/typescript/lib/lib.es2020.full.d.ts
/node_modules/typescript/lib/lib.es2020.intl.d.ts
/node_modules/typescript/lib/lib.es2020.number.d.ts
/node_modules/typescript/lib/lib.es2020.promise.d.ts
/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
/node_modules/typescript/lib/lib.es2020.string.d.ts
/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
/node_modules/typescript/lib/lib.es2021.d.ts
/node_modules/typescript/lib/lib.es2021.full.d.ts
/node_modules/typescript/lib/lib.es2021.intl.d.ts
/node_modules/typescript/lib/lib.es2021.promise.d.ts
/node_modules/typescript/lib/lib.es2021.string.d.ts
/node_modules/typescript/lib/lib.es2021.weakref.d.ts
/node_modules/typescript/lib/lib.es2022.array.d.ts
/node_modules/typescript/lib/lib.es2022.d.ts
/node_modules/typescript/lib/lib.es2022.error.d.ts
/node_modules/typescript/lib/lib.es2022.full.d.ts
/node_modules/typescript/lib/lib.es2022.intl.d.ts
/node_modules/typescript/lib/lib.es2022.object.d.ts
/node_modules/typescript/lib/lib.es2022.regexp.d.ts
/node_modules/typescript/lib/lib.es2022.string.d.ts
/node_modules/typescript/lib/lib.es2023.array.d.ts
/node_modules/typescript/lib/lib.es2023.collection.d.ts
/node_modules/typescript/lib/lib.es2023.d.ts
/node_modules/typescript/lib/lib.es2023.full.d.ts
/node_modules/typescript/lib/lib.es2023.intl.d.ts
/node_modules/typescript/lib/lib.es2024.arraybuffer.d.ts
/node_modules/typescript/lib/lib.es2024.collection.d.ts
/node_modules/typescript/lib/lib.es2024.d.ts
/node_modules/typescript/lib/lib.es2024.full.d.ts
/node_modules/typescript/lib/lib.es2024.object.d.ts
/node_modules/typescript/lib/lib.es2024.promise.d.ts
/node_modules/typescript/lib/lib.es2024.regexp.d.ts
/node_modules/typescript/lib/lib.es2024.sharedmemory.d.ts
/node_modules/typescript/lib/lib.es2024.string.d.ts
/node_modules/typescript/lib/lib.esnext.array.d.ts
/node_modules/typescript/lib/lib.esnext.collection.d.ts
/node_modules/typescript/lib/lib.esnext.d.ts
/node_modules/typescript/lib/lib.esnext.decorators.d.ts
/node_modules/typescript/lib/lib.esnext.disposable.d.ts
/node_modules/typescript/lib/lib.esnext.full.d.ts
/node_modules/typescript/lib/lib.esnext.intl.d.ts
/node_modules/typescript/lib/lib.esnext.iterator.d.ts
/node_modules/typescript/lib/lib.scripthost.d.ts
/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
/node_modules/typescript/lib/lib.webworker.d.ts
/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
/node_modules/typescript/lib/lib.webworker.iterable.d.ts
/node_modules/typescript/lib/tsc.js
/node_modules/typescript/lib/tsserver.js
/node_modules/typescript/lib/tsserverlibrary.d.ts
/node_modules/typescript/lib/tsserverlibrary.js
/node_modules/typescript/lib/typescript.d.ts
/node_modules/typescript/lib/typescript.js
/node_modules/typescript/lib/typesMap.json
/node_modules/typescript/lib/typingsInstaller.js
/node_modules/typescript/lib/watchGuard.js
/node_modules/typescript/LICENSE.txt
/node_modules/typescript/package.json
/node_modules/typescript/README.md
/node_modules/typescript/SECURITY.md
/node_modules/typescript/ThirdPartyNoticeText.txt
/node_modules/undici-types/agent.d.ts
/node_modules/undici-types/api.d.ts
/node_modules/undici-types/balanced-pool.d.ts
/node_modules/undici-types/cache.d.ts
/node_modules/undici-types/client.d.ts
/node_modules/undici-types/connector.d.ts
/node_modules/undici-types/content-type.d.ts
/node_modules/undici-types/cookies.d.ts
/node_modules/undici-types/diagnostics-channel.d.ts
/node_modules/undici-types/dispatcher.d.ts
/node_modules/undici-types/errors.d.ts
/node_modules/undici-types/fetch.d.ts
/node_modules/undici-types/file.d.ts
/node_modules/undici-types/filereader.d.ts
/node_modules/undici-types/formdata.d.ts
/node_modules/undici-types/global-dispatcher.d.ts
/node_modules/undici-types/global-origin.d.ts
/node_modules/undici-types/handlers.d.ts
/node_modules/undici-types/header.d.ts
/node_modules/undici-types/index.d.ts
/node_modules/undici-types/interceptors.d.ts
/node_modules/undici-types/mock-agent.d.ts
/node_modules/undici-types/mock-client.d.ts
/node_modules/undici-types/mock-errors.d.ts
/node_modules/undici-types/mock-interceptor.d.ts
/node_modules/undici-types/mock-pool.d.ts
/node_modules/undici-types/package.json
/node_modules/undici-types/patch.d.ts
/node_modules/undici-types/pool.d.ts
/node_modules/undici-types/pool-stats.d.ts
/node_modules/undici-types/proxy-agent.d.ts
/node_modules/undici-types/readable.d.ts
/node_modules/undici-types/README.md
/node_modules/undici-types/webidl.d.ts
/node_modules/undici-types/websocket.d.ts
